# jekyll things
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# system things
.DS_Store
.idea/

# ruby things
Gemfile.lock

# wax things
wax_tasks

# local things
package-lock.json
img/derivatives/*
*~

notes.txt
*.swp
_data/raw_images/*

# Omitted items
_cmhc/00174pl.md
_cmhc/00265pl.md
_cmhc/00282pl.md
_cmhc/00356pl.md
_cmhc/00357pl.md
_cmhc/00359pl.md
_cmhc/00375pl.md
_cmhc/00460cc.md
_cmhc/00878cc.md
_cmhc/01255cc.md
_cmhc/01256cc.md
_cmhc/01257cc.md
_cmhc/01345pl.md
_cmhc/01395cc.md
_cmhc/01409cc.md
_cmhc/01429pl.md
_cmhc/01499cc.md
_cmhc/01523cc.md
_cmhc/01531cc.md
_cmhc/01560cc.md
_cmhc/02129cc.md
_cmhc/02174cc.md
_cmhc/02340cc.md
_cmhc/02341cc.md
_cmhc/02342cc.md
_cmhc/02343cc.md
_cmhc/02344cc.md
_cmhc/02345cc.md
_cmhc/02346cc.md
_cmhc/02347cc.md
_cmhc/02348cc.md
_cmhc/02349cc.md
_cmhc/02350cc.md
_cmhc/02351cc.md
_cmhc/02352cc.md
_cmhc/02353cc.md
_cmhc/02354cc.md
_cmhc/02355cc.md
_cmhc/02356cc.md
_cmhc/02357cc.md
_cmhc/02358cc.md
_cmhc/02359cc.md
_cmhc/02360cc.md
_cmhc/02361cc.md
_cmhc/02362cc.md
_cmhc/02363cc.md
