{% assign collection_names = include.collection_names | split: "," %}
{% assign facet = include.facet %}

<div id='wax-galleries-container' class='wax-galleries-container full-width'>
  <div class='wax-inline-container'>
  <div id="wax-galleries-all" class="wax-galleries">

  {% for value in collection_names %}
    {% assign collection = site[value] %}

    <script type="text/javascript">
      $( document ).ready(function() {
        var gallery = $('#wax-galleries-all');

        {% assign page_name = "pages/" | append: value | append: ".md" %}
        {% assign page = site.pages | where: "path", page_name | first %}
        {% assign item = collection | find: facet, page.cover-id %}
        {%- capture item_html -%}
          "<div class='galleries-item all'>
            <div class='hovereffect'>
              <div class='overlay'>
                <a href='{{ value | absolute_url }}'>
                  <img class='img-responsive img-gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ page.title }}'/>
                  <p class='info'>{{ page.title }}</p>
                </a></div></div></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      });
    </script>

  {% endfor %}
</div>
  </div>
</div>
