{% assign facet_values = include.facet_values | split: "," %}
{% assign facet = include.facet %}
{% assign collection = site[include.collection] %}


<!-- <div id='wax-gallery-{{ collection }}-container' class='wax-gallery-container full-width'> -->
<div id='wax-galleries-container' class='wax-galleries-container full-width'>
  <div class='wax-inline-container'>
  <div id="wax-galleries-all" class="wax-galleries"></div>

  {% for value in facet_values %}

    <script type="text/javascript">
      $( document ).ready(function() {
        var gallery = $('#wax-galleries-all');

        {% assign subset = collection | where: facet, value %}
  
        {% assign item = subset[0] %}
        {%- capture item_html -%}
          "<div class='galleries-item {{ item[label] | slugify }} all'><a href='{{ item.key | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      });
    </script>

  {% endfor %}

  </div>
</div>