@import 'wax';

/*

lcpl header section

*/

#lcpl-header-main {
	width: 100vw;
	max-width: 100%;
	border-bottom: 1px solid $text-color;
}

.lcpl-inline-container {
  @extend .wax-inline-container;
}

#lcpl-header {
  background-color: $bg-color;
  /*
  border-bottom: 1px solid $text-color;
  */
  font-family: $heading-font;
  color: $text-color;
  z-index: 100000;
  padding: $margin;
  letter-spacing: 0.075rem;

  img {
  	max-width: 90%;
  } 

  .navbar-brand {
    font-weight: 700;
    color: $accent-light;
    font-size: 2rem;
    white-space: normal;
  }

  .navbar-brand:hover {
    color: $accent-dark;
  }

  #wax-header {
  	padding: 0.75rem;
  	border-bottom: none;
  }

 }

 // Add for collection of galleries
.wax-galleries-container {

  .wax-galleries {
    margin: $margin auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .galleries-item {
      padding: 0;
      margin: .25rem;
      background-color: #ffffff;
      max-height: $thumbnail-index-height;
      max-width: $thumbnail-index-width;
      border: 1px grey solid;

      .gallery-thumb {
        object-position: 50% 20%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        &:hover {
          .overlay {
            opacity: .7;
            background-color: $accent-light;
            cursor: pointer;
            .info {
              color: $bg-color;
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }

        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $text-color;
          background-color: transparent;
          opacity: 1;
          filter: alpha(opacity=1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          font-weight: normal;
          font-size: .9rem;
          line-height: 1rem;
          overflow: hidden;
          padding: .4rem;
          vertical-align: center;
        }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0.5;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 200px;
        }
      }
    }
  }
}

