---
layout: generic_collection_item
show_logo: false
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Description'
    value: page.description
  - label: 'Format'
    value: page.format
  - label: 'Keywords'
    value: page.keywords
  - label: 'Named Person(s)'
    value: page.named_persons
  - label: 'Location'
    value: page.location
  - label: 'Creation Date'
    value: page.creation_date
  - label: 'Source'
    value: page.source
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
  - label: 'Rights'
    value: page.rights
---
